@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 3rem;
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-primary;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

// Preloader visibility transitions
.app {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  
  &--hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
  
  &--visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
  }
}