@import '../../styles/variables';

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(197, 195, 195, 0.1);
  z-index: 9999;

  &__bar {
    height: 100%;
    background: linear-gradient(90deg, $primary-color 0%, #3d4ed9 100%);
    transition: width 0.1s ease-out;
    box-shadow: 0 0 10px rgba(79, 99, 246, 0.5);
  }
}